:root {
  --z-sky: 7;
  --z-highest: 6;
  --z-high: 5;
  --z-medium: 3;
  --z-low: 2;
  --z-lowest: 1;
  --bg: #F4F6F0;
  --bg-orange: #FFEDE6;
  --orange: #EB4E1C;
  --orange-transp: rgba(255, 97,  34, 0.15);
  --orange-transp-active: rgba(255, 97, 34, 0.30);
  --bg-purple: #F5ECFF;
  --purple: #6F32B0;
  --purple-transp: rgba(111, 50,  176, 0.15);
  --purple-transp-active: rgba(111, 50,  176, 0.30);
  --bg-green: #D7F4E5;
  --green: #226204;
  --green-transp: rgba(34, 98,  4, 0.15);
  --green-transp-active: rgba(34, 98,  4, 0.30);
  /* --swiper-navigation-size: 0px !important; */
}

#header {
  z-index: var(--z-highest);
  background-color: var(--bg);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Noto Serif', serif;
}

a, div {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration:underline;
}

#menuToggle {
  position: relative;
  z-index: var(--z-highest);
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: var(--z-sky);
  -webkit-touch-callout: none;
}

/* hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: var(--z-highest);
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
  z-index: var(--z-highest);
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
  z-index: var(--z-highest);
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(6px, -1px);
  background: #232323;
  z-index: var(--z-highest);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 8px);
  z-index: var(--z-highest);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  z-index: var(--z-highest);
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: var(--z-high);
  position: absolute;
  top: -20px;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  padding-top: 125px;
  right: -20px;
  background: var(--bg);
  /* opacity: 0; */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  /* transition: opacity 0.5s; */
}

.logo {
  z-index: var(--z-highest)
}

#menu li {
  width: 80vw;
  padding: 20px 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 22px;
  text-align: center;
}

#menuToggle input:checked~ul {
  transform: none;
}

.onclick-menu:focus {
  pointer-events: none;
}

.onclick-menu:focus .onclick-menu-content {
  opacity: 1;
  visibility: visible;
  display: inherit;
  pointer-events: auto;
}

.onclick-menu-content {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
}

.onclick-menu-content li {
  list-style: none;
}
