* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid aquamarine; */
  /* outline-offset: -1px; */
}

html,
body {
  position: relative;
  height: 100%;
}

#header {
  background-color: var(--bg-orange) !important;
}

.swiper {
  width: 100%;
  height: 100%;
  outline: 2px solid red;
  outline-offset: -4px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--bg-orange);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;

  padding: 20px;
}

.risp1 {
  outline: 2pt solid;
}
