:root {
  --z-sky: 7;
  --z-highest: 6;
  --z-high: 5;
  --z-medium: 3;
  --z-low: 2;
  --z-lowest: 1;
  --bg: #F4F6F0;
  --bg-orange: #FFEDE6;
  --orange: #EB4E1C;
  --orange-transp: rgba(255, 97, 34, 0.15);
  --orange-transp-active: rgba(255, 97, 34, 0.30);
  --bg-purple: #F5ECFF;
  --purple: #6F32B0;
  --purple-transp: rgba(111, 50, 176, 0.15);
  --purple-transp-active: rgba(111, 50, 176, 0.30);
  --bg-green: #D7F4E5;
  --green: #226204;
  --green-transp: rgba(34, 98, 4, 0.15);
  --green-transp-active: rgba(34, 98, 4, 0.30);
  /* --swiper-navigation-size: 0px !important; */
}

/*  */

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  /* outline: 1px solid aquamarine; */
  /* outline-offset: -1px; */
}

html {
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

body {
  position: relative;
  background-color: var(--bg-orange);
  /* outline: 2px solid red; */
  /* height: 100vh; */
}

#header {
  background-color: var(--bg-orange) !important;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  background-color: var(--bg-orange) !important;
  outline: 2px solid red;
  background-position: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer-header {
  height: 67px;
  width: 100%;
  /* outline: 2pt solid; */
}

.numero {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--orange);
}

.testo-risp {
  height: 100px;
  width: 100%;
  padding: 0 40px;
  /* outline: 2px solid; */
}

.testo-risp-bold {
  font-weight: 700;
}

.bottom-navigation {
  /* outline: solid 1px cadetblue; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  bottom: 120px;
  width: 100vw;
  background-color: none !important;
}

.swiper-button-next {
  position: sticky;
  /* align-self: center; */
  width: 100px !important;
  height: 40px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--orange) !important;
  border: none !important;
  background-color: none !important;
}

button {
  background-color: none !important;
}

.swiper-button-next::after {
  content: '' !important;
}

.spariscibottone {
  opacity: 0 !important;
  pointer-events: none;
}

.finalbutton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px !important;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 40px;
  bottom: 102px;
  background-color: var(--orange);
  border: none;
  color: var(--bg);
  border-radius: 25px;
  margin: auto;
}

.finalbutton:hover {
  text-decoration: none;
}
