:root {
  --z-sky: 7;
  --z-highest: 6;
  --z-high: 5;
  --z-medium: 3;
  --z-low: 2;
  --z-lowest: 1;
  --bg: #F4F6F0;
  --bg-orange: #FFEDE6;
  --orange: #EB4E1C;
  --orange-transp: rgba(255, 97,  34, 0.15);
  --orange-transp-active: rgba(255, 97, 34, 0.30);
  --bg-purple: #F5ECFF;
  --purple: #6F32B0;
  --purple-transp: rgba(111, 50,  176, 0.15);
  --purple-transp-active: rgba(111, 50,  176, 0.30);
  --bg-green: #D7F4E5;
  --green: #226204;
  --green-transp: rgba(34, 98,  4, 0.15);
  --green-transp-active: rgba(34, 98,  4, 0.30);
  /* --swiper-navigation-size: 0px !important; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid aquamarine; */
  /* outline-offset: -1px; */
}

html,
body {
  position: relative;
  height: 100%;
}

#header {
  background-color: var(--bg-orange) !important;
}

.swiper {
  width: 100%;
  height: 100%;
  outline: 2px solid red;
  outline-offset: -4px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background: var(--bg-orange);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 140%;
  text-align:center;
  margin-bottom: 20px;

  padding: 20px;
}

.testo-risp {
  height: 100px;
  /* outline: 2px solid; */
}

.risp1 {
  /* outline: 2pt solid; */
}
.risp5 {
  position:fixed;
}
#final {
  background-image:image("img/risp-fin.png");
  /* overflow: hidden; */
}
