:root {
  --z-sky: 7;
  --z-highest: 6;
  --z-high: 5;
  --z-medium: 3;
  --z-low: 2;
  --z-lowest: 1;
  --bg: #F4F6F0;
  --bg-orange: #FFEDE6;
  --orange: #EB4E1C;
  --orange-transp: rgba(255, 97,  34, 0.15);
  --orange-transp-active: rgba(255, 97, 34, 0.30);
  --bg-purple: #F5ECFF;
  --purple: #6F32B0;
  --purple-transp: rgba(111, 50,  176, 0.15);
  --purple-transp-active: rgba(111, 50,  176, 0.30);
  --bg-green: #D7F4E5;
  --green: #226204;
  --green-transp: rgba(34, 98,  4, 0.15);
  --green-transp-active: rgba(34, 98,  4, 0.30);
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* position: relative; */
  background-color: var(--bg-orange);
}

#header {
  background-color: var(--bg-orange) !important;
}
.spacer-header {
  height: 67px;
  width: 100%;
  background-color: aquamarine;
  position: relative;
  top: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
  outline: 2px solid black;
  outline-offset: -70px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  width: 100vw;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.numero {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--orange);
}

.question {
  font-family: 'Noto Serif', serif;
  font-size: 28px;
  line-height: 140%;
  max-width: 90vw;
  max-height: 350px;
}

.interaction {
  /* position: absolute; */
  /* display: block; */
  /* bottom: 160px; */
  width: 120vw;
  left: -10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#domanda-risposta1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: var(--orange);
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
  text-align: center;
  max-width: 80vw;
}

#domanda-risposta2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--orange);
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
  text-align: center;
  max-width: 80vw;
}

#domanda-risposta3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--orange);
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
  text-align: center;
  max-width: 80vw;
}

#domanda-risposta4 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--orange);
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
  text-align: center;
  max-width: 80vw;
}

.container {
  display: flex;
  align-items: center;
  /* Size */
  /* height: 2px; */
}

.left {
  /* Width based on the current value */
  height: 1px;
  width: calc(50% - (50px /2));
  /* Colors */
  background-color: var(--orange);
}

.knob {
  /* Size */
  height: 50px;
  width: 50px;
  /* Rounded border */
  border-radius: 999px;
  /* Colors */
  background-color: var(--bg-orange);
  border: 1px solid var(--orange);
  cursor: pointer;
}

.right {
  /* Take the remaining width */
  flex: 1;
  height: 1px;
  /* Colors */
  background-color: var(--orange);
}

.bottom-navigation {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  height: 40px;
  width: 100vw;

  border: 1px solid var(--orange);

}

.noncliccabile {
  opacity: 0.3;
  pointer-events: none;
}

.swiper-button-next {
  width: 100px !important;
  height: 40px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--orange-transp);
  color: var(--orange) !important;
  border: 1px solid var(--orange);
  border-right: 0;
  border-radius: 25px 0 0 25px;
  right: 0 !important;

  bottom: 0 !important;
}

.swiper-button-next::after {
  content: '' !important;
}
