:root {
  --z-sky: 7;
  --z-highest: 6;
  --z-high: 5;
  --z-medium: 3;
  --z-low: 2;
  --z-lowest: 1;
  --bg: #F4F6F0;
  --bg-orange: #FFEDE6;
  --orange: #EB4E1C;
  --orange-transp: rgba(255, 97, 34, 0.15);
  --orange-transp-active: rgba(255, 97, 34, 0.30);
  --bg-purple: #F5ECFF;
  --purple: #6F32B0;
  --purple-transp: rgba(111, 50, 176, 0.15);
  --purple-transp-active: rgba(111, 50, 176, 0.30);
  --bg-green: #D7F4E5;
  --green: #226204;
  --green-transp: rgba(34, 98, 4, 0.15);
  --green-transp-active: rgba(34, 98, 4, 0.30);
  /* --swiper-navigation-size: 0px !important; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--bg);
}

.logo {
  z-index: var(--z-highest)
}

.container {
  padding: 20px;
  height: 100vh;
}

.title {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  text-align: center;
}

.paragraph {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;
}

.paragraph-bold {
  font-weight: 700;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  <<<<<<< HEAD <<<<<<< HEAD=======padding:
    env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
  >>>>>>>parent of a33a45b (qwerty)=======padding:
    env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
  >>>>>>>parent of a33a45b (qwerty)
}

/* footer {
  flex: none;
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  padding: 1em 1em calc(1em + env(safe-area-inset-bottom)); */
  /* adds the safe-area-inset-bottom value to the initial 1em of padding.
  a larger black area will display for a device that has a positive value for this variable. */
  /* position: sticky;
  bottom: 0;
} */

.scrolldown {
  width: 100%;
  height: 20px;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  color: #b5b5b5;
  position: absolute;
  bottom: 140px;
}

/* .remove {
  display: none;
} */

#text4 {
  display: flex;
  align-items: center;
}

.start {
  padding: 10px 42px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 21px;
  background-color: var(--bg);
  color: black;
  border: 1px solid black;
  text-align: center;
  position: absolute;
  bottom: 140px;

}

.start:active {
  background-color: #e2e6dc;
}

.start:hover {
  text-decoration: none;
  background: #e2e6dc;
}

.fixed-position {
  overflow: hidden;
}
