:root {
  --z-sky: 7;
  --z-highest: 6;
  --z-high: 5;
  --z-medium: 3;
  --z-low: 2;
  --z-lowest: 1;
  --bg: #F4F6F0;
  --bg-orange: #FFEDE6;
  --orange: #EB4E1C;
  --orange-transp: rgba(255, 97, 34, 0.15);
  --orange-transp-active: rgba(255, 97, 34, 0.30);
  --bg-purple: #F5ECFF;
  --purple: #6F32B0;
  --purple-transp: rgba(111, 50, 176, 0.15);
  --purple-transp-active: rgba(111, 50, 176, 0.30);
  --bg-green: #D7F4E5;
  --green: #226204;
  --green-transp: rgba(34, 98, 4, 0.15);
  --green-transp-active: rgba(34, 98, 4, 0.30);
  /* --swiper-navigation-size: 0px !important; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid aquamarine;
  outline-offset: -1px; */
}

html {
  scroll-snap-type: y mandatory;
  /* overflow: hidden; */
}

body {
  position: relative;
  background-color: var(--bg);
}

.wall {
  position: fixed;
  top: 0;
  z-index: var(--z-sky);
  background-color: var(--bg);
  opacity: .9;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wall-text {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 21px;
  margin-bottom: 40px;
}

.wall-button {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 21px;
  margin-top: 80px;
  padding: 10px 42px;
  border: 1px solid black;
}

.scegli {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 110px;
}

.scegli p {
  position: absolute;
  top: 0;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  letter-spacing: -0.98px;
  font-size: 22px;
  line-height: 28px;
}

.swiper {
  display: block;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 55vh;
  padding: 0 24px !important;
}

.swiper-slide {
  text-align: center;
  position: absolute;
  width: 100%;
  border: solid 1pt black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.narrazionevax {
  background: #F5ECFF;
}

.narrazionevax .num {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #964CE5;
}

.narrazionevax .titolo {
  width: 90%;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.98px;
  color: #964CE5;
}

.narrazionevax .gioca {
  position: absolute;
  bottom: 20px;
  padding: 10px 40px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: #e7d4fb;
  color: #964CE5;
  border: 1px solid #964CE5;
}

.immigrazione {
  background: var(--bg-orange);
}

.immigrazione .num {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--orange);
}

.immigrazione .titolo {
  width: 90%;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.98px;
  color: var(--orange);
}

.immigrazione .gioca {
  position: absolute;
  bottom: 20px;
  padding: 10px 40px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: var(--orange-transp);
  color: var(--orange);
  border: 1px solid var(--orange);
  text-decoration: none;
}

.immigrazione .gioca:hover {
  background-color: var(--orange-transp-active);
  text-decoration: none;
}

.climate-change {
  background: #E7FFDC;
}

.climate-change .num {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #70BA4D;
}

.climate-change .titolo {
  width: 90%;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.98px;
  color: #70BA4D;
}

.climate-change .gioca {
  position: absolute;
  bottom: 20px;
  padding: 10px 40px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: #D5F5C7;
  color: #70BA4D;
  border: 1px solid #70BA4D;
}
